{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Página 2</title>
</head>
<body>
    <img src= "{% static 'vista2.jpeg' %}" id="vista" alt="foto paisagem">
    <div id="pagina">
        <h1>O que fazer em Ponta Delgada?</h1>
        <p>É entre os meses de abril e junho a melhor época para a observação de baleias e golfinhos, e Ponta Delgada é um dos melhores lugares do mundo para essa atividade. Os passeios duram em média 3 horas, saindo na parte da manhã ou do almoço, e existem várias empresas que oferecem o serviço.</p>
        <img src= "{% static 'foto21.jpg' %}" id="foto21" alt="foto baleia">
    
        <p>Na freguesia dos Mosteiros ficam estas maravilhosas piscinas naturais de águas muito cristalinas. Elas ficam entre os flancos de lava que se formaram da penetração da lava no mar, e os pescadores locais garantem que ali está a água mais pura que existe. É um ótimo lugar para passar a tarde de ver o pôr do sol.</p>
        <img src= "{% static 'foto22.jpg' %}" id="foto22" alt="foto piscina">
    
        <a href=  "/">    
        <button class="btn1" type="button">Main page</button>
        </a>
    </div>
</body>
</html>
